@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');


html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* overflow-scrolling: touch; */
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}


.container {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-size: 64px;
  font-family: 'Playfair Display', serif;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}

.panel {
  width: 100vw;
  height: 100vh;
}

.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}

